@model FitnessClubApp.Models.Coach

 <div class="card-body">
        <img class="card-img" src=@Model.CoachImage alt="Coach"/>
        <p class="card-text">@Model.CoachName</p>
        <p class="card-text">@Model.CoachType
        </p>
        <p class="card-text">@Model.Email</p>
        <p class="card-text">@Model.Contact</p>

    </div>