@page
@model FitnessClubApp.Pages.CoachStoryModel
@{
}

<div class="card w-25">
      @await Component.InvokeAsync("CoachDetail",new {id=@Model.CoachPro.CoachId})

    <div class="card-footer">
        <a asp-page="Trainer" class="btn btn-secondary">Back to Coaches</a>
    </div>
</div>