@page
@model FitnessClubApp.Pages.CoachStoryModel
@{
}

<div class="card w-25">
    <div class="card-body">
        <img class="card-img" src="images/Person.jpg" alt="Coach"/>
        <p class="card-text">@Model.CoachPro.CoachName</p>
        <p class="card-text">@Model.CoachPro.CoachType
        </p>
        <p class="card-text">@Model.CoachPro.Email</p>
        <p class="card-text">@Model.CoachPro.Contact</p>

    </div>
    <div class="card-footer">
        <a asp-page="Trainer" class="btn btn-secondary">Back to Coaches</a>
    </div>
</div>