@page
@model FitnessClubApp.Pages.IndexModel //IndexModel class is made available to this .csHTml file throu' @model directive 
@{
}

<div class="text-center display-4">
@Model.PageTitle -- @Model.SubTitle






</div>
<p class="text-center w-25 alert alert-info">@ViewData["Message"]</p>