@page
@model FitnessClubApp.Pages.TrainerModel
@{
}
<div class="text-center">
    <p class=display-3>This is the Coaches Detail </p>

    <div class="container">
        <div class="row">

            @foreach(var item in @Model.Coaches)
            {
            <div class="col-sm-3">
            @await Component.InvokeAsync("CoachDetail",new {id=@item.CoachId})

                <div class="card-footer">
                    <a asp-page="CoachStory" asp-route-id=@item.CoachId class="btn btn-primary">View</a>
                        <a asp-page="Edit" asp-route-id=@item.CoachId class="btn btn-secondary">Edit</a>
                            <a asp-page="Delete" asp-route-id=@item.CoachId class="btn btn-danger">Delete</a>
                    </div>
            </div>    
            
            
            }
            </div>
            </div>
            </div>
 